.warpper[b-ptvp7d7fg2] {
  inset: 0;
  z-index: 1;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
}

.content-container[b-ptvp7d7fg2] {
  height: 100%;
}

.close-button[b-ptvp7d7fg2] {
  position: absolute;
  top: 10px;
  left: 10px;
}
