.wrapper {
  position: fixed;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
}

.list {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 2rem;
}

.error-item {
  padding: 1rem;
  border: solid 2px #ee2828;
  background-color: #ee6363;
  color: #fafafa;
  border-radius: 1rem;
  animation: appear 1s ease 1 both alternate;
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
