@using Services
@using Exceptions
@inject AuthService authService
@using Validation.Models
@using ImmagesApp.Shared.UI;
@inject NavigationManager navigationManager

<EditForm Model="@FolderDataModel" OnValidSubmit="HandleValidSubmit">
    <div class="folder-form-content">
        <div class="instructions-wrapper">
            <p class="instructions-text">Here you can create new folder</p>
            <img class="instructions-icon" src="/assets/icons/point-down.png" alt="" srcset="">
        </div>
        <DataAnnotationsValidator />
        <TextField Placeholder="Enter folder name" @bind-Value="FolderDataModel.Name" ValidationFor="@(() => FolderDataModel.Name)" class="form-control" />
        <button type="submit" class="btn btn-success">Save</button>
    </div>
</EditForm>


@code {
    public delegate Task OnDataSaveDelegate(FolderDataModel formData);

    [Parameter]
    public OnDataSaveDelegate OnDataSave { get; set; } = null!;

    [Parameter]
    public string FolderName {get; set;} = "";
    protected FolderDataModel FolderDataModel = null!;


    protected override void OnInitialized()
    {
        FolderDataModel = new FolderDataModel {Name = FolderName};
    }
    
    public async void HandleValidSubmit() {
        await OnDataSave.Invoke(FolderDataModel);
        FolderDataModel.Name = "";
        StateHasChanged();
    }
}


