.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form fieldset {
  padding: 1rem 1rem;
  border-radius: 10px;
  box-shadow: #0000004d 0 5px 10px;
}

.form .styled-label {
  padding: 0.2rem 0.4rem;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  border: #222 solid 1px;
  border-radius: 10px;
}
