@using DB.Models

<div class="wrapper">
    <div class="avatar" style="@($"background-color: {User.HexColor ?? "#adadad"};")">
        <span class="avatar-letter">
            @User.Name[0]
        </span>
    </div>
    <div class="user-info">
        <span class="user-name">@User.Name</span>
        <span class="user-email">@User.Email</span>
    </div>
</div>

@code {
    [Parameter]
    public User User { get; set; } = null!;
    
    
}